<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Career Central</title>

  <!-- Bootstrap core CSS -->

  <!-- Custom fonts for this template -->

  {% load static %}
  <link rel=”stylesheet” href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
  <link rel=”stylesheet” href="{% static 'static/css/landing-page.css'%}">
  <link href=”stylesheet” href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet">
  <link rel=”stylesheet” href="{% static 'vendor/simple-line-icons/css/simple-line-icons.css'%}" type="text/css">

  <link href= "{% static 'https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic'%}" rel="stylesheet" type="text/css">
  <link href="{% static 'vendor/fontawesome-free/css/all.min.css'%}" rel="stylesheet">
  <link  rel="stylesheet"  href="{% static  'vendor/simple-line-icons/css/simple-line-icons.css'%}"type="text/css">
  <link rel="stylesheet"  href="{% static 'css/landing-page.min.css'%}">



 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
   <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
   <!-- Bootstrap CSS -->
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
   <title>Career Central</title>
     <!-- jQuery first, then Popper.js, then Bootstrap JS -->
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> 
 
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script type="text/javascript"></script>
</head>




<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>

<!------ Include the above in your HEAD tag ---------->

 <!-- 
  .table td:first-child:before {
        counter-reset: serial-number;  
counter-increment: serial-number;  /* Increment the serial number counter */
content: counter(serial-number ) ".     ";  /* Display the counter */
  }
 
    ---------->







<style>

  .table{

    table-layout: fixed; 
    width: 100%;
    
  }
  .btn {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: solid 1px #3f6bad;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    background: #598bc9;
    color: #FFF;
    padding: 8px 12px;
    text-decoration: none;

    
  }
  .excel-btn {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: solid 1px #7f858f;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    background: #7d8894;
    color: #FFF;
    padding: 8px 12px;
    text-decoration: none;

    
  }



        #UserName{
          color:black;
          left: 10%;
         
        }
        #modal_body{
        white-space: pre-line ;}
  #content{
    float: center; margin:10px; 
  }

  .btn{
    margin:10px;
  }
  #redirect_save{
    width: 125px;
  }


</style>

<script>

  
  function logout_clicked(){
    sessionStorage.clear();
    localStorage.clear();
    $("#role_id").removeAttr("required");
    $("#pac-input").removeAttr("required");

    $.ajax({
        url: "{% url 'logoutuser' %}",
        type: "POST",
        async: false,
        contentType: "application/json",
        data: JSON.stringify('logout'), 
          success: function(data) {
              
            
          },
          error: function(e){
            console.log('bad  ajax request ' + e);
          }
    });
  }
 

  






</script>



<script>
  var role_var="1";
   $(document).ready(function (){
     $("#content").hide();

     });
     

 


      //Bug Fix :: if Options is Blank need to let user know in this function
     function loading(){
         setTimeout(function(){ disable() }, 1);
         rolevar= $('#role_id').val();
         locationvar=$('#pac-input').val();
       optionskey= $('#optionsID').val();
         localStorage.setItem("role_key", rolevar);
         localStorage.setItem("location_key", locationvar);
        if(rolevar && locationvar && optionskey){
         $("#content").show();
         $("input[type=image]").removeAttr('disabled');
        }

           
       
         }
       function nothing(){
         
          $("#content").hide();
          var local_role= localStorage.getItem("role_key");
          var local_location= localStorage.getItem("location_key");
          console.log("in nothing" + local_role);
          $('#role_id').val(local_role);
          $('#pac-input').val(local_location);
          $("input[type=image]").removeAttr('disabled');

          }

          
       function disable(){
        $("input[type=image]").attr("disabled", "disabled");   
       };  


       $(document).ready(function(){
        $("#role_id").attr("required", 'required');
            $("#pac-input").attr("required", 'required');
        
        $('#pac-input').keypress(function(e){
          if($('#pac-input').val() && $('#role_id').val() ){
                $("input[type=image]").removeAttr('disabled');
                }
        });
        $('#role_id').keypress(function(e){
          if($('#pac-input').val() && $('#role_id').val() ){
                $("input[type=image]").removeAttr('disabled');
                }
         
        });


       });
       
   
       function save_check(){
        role_names="";
           var csrftoken = $("[name=csrfmiddlewaretoken]").val();
           var hold_data=[]; 
           var i;
           var dict={};
           var data_to_send ={};
           modal_text="";
           $('.table a').each(function(index ) {
             dict[index]=$(this).attr('href'); });
        
           $('#table_id').find('input[type="checkbox"]:checked').each(function (index) {
               var row_data=[];
               var row = $(this).closest("tr")[0]; //sending html data of the row of specific checkbox
               var role_name= row.cells[1].innerHTML;
            
             for (i = 1; i < row.cells.length -1; i++) {
                 if (row.cells[i].innerHTML.includes('href') ) {
                     row_data.push(dict[$(this).closest("tr").index()]);
                 }
                 else{
                   col_data = row.cells[i].innerHTML;
                   row_data.push(col_data);
                 }
             }
             data_to_send[index]=row_data;
             role_name=role_name.replaceAll(",","");
             role_names=role_names +"\n" + role_name 
             
               });
             if (role_names==="" ) {
                 modal_text="Please click a jobs checkbox before saving";
                 header_modal= "Please click a jobs checkbox before saving";

             }
             else{
               header_modal= " Jobs Saved!      "; 
             }
             $.ajax({
                     url: "{% url 'save_job' %}",
                     type: "POST",
                     contentType: "application/json",
                     
                      headers:{
                          "X-CSRFToken": csrftoken
                      },
                     data: JSON.stringify(data_to_send), 
                       success: function(data) {
                           console.log('success ajax request ');

                           
                             $('#exampleModalLabel').text(header_modal);
                             $('#modal_body').text(role_names);
                           $('#exampleModal').modal('show');
                           
                      
                   
                       },
                       error: function(e){
                         console.log('bad  ajax request ' + e);

                       }
                 });

                   return false;

         };
         function apply(id){
           console.log('in apply function ' + id ); 
     

           
                 $.ajax({
                         url:"{% url 'index' %}",
                         type: "POST",
                         contentType: "application/json",
                         data: JSON.stringify(id), 
                           success: function(data) {
                               console.log('success ajax request ');
                           
                           },
                           error: function(e){
                             console.log('bad  ajax request ' + e);

                           }
                     });

                       return false;
          

         };
 
         
 </script>


<body onload="nothing()">
 


  
  <!-- Modal -->
 
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Job Saved</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id=modal_body>
       
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


  <!--  <nav class="navbar navbar-dark bg-secondary">
    <div class="container">
      {% if user.is_authenticated %}
      <a class="navbar-brand"  id= "UserName" > Welcome  {{user.first_name  }}</a>
        {% endif %}
      <form  role="form" name="formname" action="{% url 'index' %}" onkeydown="return event.key != 'Enter';"  onclick="return IsEmpty();" style="width:400px; margin: 0 auto;" method="post">
        {% csrf_token %} 
       <button class="btn"   type="submit" value="generate_key"    id=generate_key name=generate_key style="float: right; margin-left: 5%;"> Api Key</button>
          <button class="btn"   type="submit" value="logoutuser"  id=logoutuser name=logoutuser style="float: right; " onclick= "logout_clicked()"> Logout</button>
  
        <a  href="/loginpage" class="btn"  type="submit" value="Login"    id=login name=direct_login style="float: right; margin-left: 5%;" > Login</a>
          <a  href="/loginpage"  class="btn"  type="submit" value="logoutuser"  id=logoutuser name=logoutuser style="float: right; " onclick= "logout_clicked()"> Logout</a>
          </div>  </nav> 
        -->
      

    <!-- Navigation  https://startbootstrap.com/previews/creative-->
    <nav class="navbar  navbar-expand-lg navbar-light  py-3" id="mainNav" >

      <form  role="form" name="formname" action="{% url 'index' %}" onkeydown="return event.key != 'Enter';"  onclick="return IsEmpty();" style="width:400px; margin: 0 auto;" method="post">
        {% csrf_token %} 
       <!-- <button class="btn"   type="submit" value="generate_key"    id=generate_key name=generate_key style="float: right; margin-left: 5%;"> Api Key</button>--> 
       <!--     <button class="btn"   type="submit" value="logoutuser"  id=logoutuser name=logoutuser style="float: right; " onclick= "logout_clicked()"> Logout</button>--> 

          <button class="navbar-toggler navbar-toggler-right " type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
         
          <div class="collapse navbar-collapse" id="navbarResponsive">
            {% if user.is_authenticated %}
            <a  >Welcome  {{user.first_name  }} </a>
              {% endif %}
              <ul class="navbar-nav ml-auto my-2 my-lg-0">
                  <li class="nav-item"><a class="nav-link js-scroll-trigger" href="/">Home</a></li>
                  <li class="nav-item"><a class="nav-link js-scroll-trigger" href="saved_jobs"  >Saved Searches</a></li>
                  <li class="nav-item"><a class="nav-link js-scroll-trigger" onclick= "logout_clicked()" href="/loginpage" >Logout</a></li>
              </ul>
          </div>
 
  </nav>
  
  <!-- Masthead -->
  <header class="masthead text-white text-center">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <h1 class="mb-5">Career Central </h1>
          <p> The Centralized hub for all Jobs </p>
        </div>
    
  </header>

  <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
        <br>  </br>

  
    <div class="required-field-block">
        <input type="text" id="role_id" placeholder="Role - required"  class="form-control" name="rolename" required >
        <div class="required-icon">
          
        </div>
    </div>
    <p></p>
    <div class="required-field-block">
    <div id="pac-container">
      <input id="pac-input" type="text" placeholder="Location -required"  class="form-control" name="locationname" required>
      <div class="required-icon">
      <p></p>
   
  
    </div>
    </div>
    </div>
    <div>  </div>

     <select class="form-control time_zone required" name="optionsname" id="optionsID" formnovalidate ><option value="">Select a Job Search Engine</option>
      <option name= "monster" value="monster">Monster</option>
      <option name= "glass" value="glass">Simply Hired</option>
      <option name= "career" value="career">Career Builder</option>
      <option name= "link"   value="link">Linkedin</option> 
     </select>

     <br></br>
     <button class="btn" id="searchID" value ="search"  name= "search" onclick= "loading()"  type="Submit" >Search</button>
 
     <button class="btn" id="save_item" value ="save_item"  name= "save_item" type="button" id= "Save_Click" onclick= "save_check()">Save Search</button>
    <!--  <input class="btn" id= "redirect_save" value ="Saved Jobs"  onclick= " window.location.href = '/saved_jobs'; " > </input>-->
    {%if results%}
    <button class="excel-btn" id="excel" value ="excel"  name= "excel" type="Submit" style= 'float:right;'>Download To Excel</button>
    {%endif%}
    
   

 <!--    <a  href="/saved_jobs"  class="btn" type="submit" id="redirect_save" value ="Go to Saved Jobs"  name= "redirect_save" > Saved Jobs</a>
       <a  href="/loginpage" class="btn btn-info"  type="submit" value="Login"    id=login name=direct_login style="float: right; margin-left: 5%;" > Login</a>
    <input class="btn btn-info" type="submit" id="redirect_save" value ="Go to Saved Jobs"  name= "redirect_save" type="button" > -->
    
    
    
        
    </div>
  </div>
</div>

<div id="loading"></div>
    <div id="content"> 
       <div class="spinner-border"  style="float: center; line-height: 5; "role="status">
       <span class="sr-only">Loading...</span>
       </div> 
   </div>
</div>  
  <div class="col-xl-9 mx-auto">
  <div class="buttonclass">
  <!--  <input  type="image" name= "indeed"  id="indeed_button"  value="indeed_submit" src="/static/indeedlogo.png"    onclick= "loading()" width="120" height="120" >-->
 
 <!-- 
  <img type="image"  name= "monster"  id="monster_button" src="/static/monsterlogo.png" value="monster_submit"  width="70" height="70">
  <img type="image"  name= "glass"  id="glass_button" src="/static/glass.png" value="glass_submit"    width="100" height="100">
  <img type="image"  name= "career"  id="simply_button" src="/static/simplyhired.png" value="simply_submit"   width="200" height="200"> 
  <img  type="image"  name= "link"  id="link_button" src="/static/link.png" value="link_submit"    width="100" height="100"> 
    <p></p>-->
    

     <path fill-rule="evenodd" d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.523-3.356c.329-.314.158-.888-.283-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767l-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288l1.847-3.658 1.846 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.564.564 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/>
   </svg> 

   
   
  </div>

 
</form>

  <section id="tabs" class="project-tab">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
              
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                      <table class="table" id="table_id" cellspacing="0"> 
                       
                        <p>  {{token}} </p>
                            {% for  result in results %}
                              {% with rowloop=loop %}
                              {%endwith%}
                                 {% with x=forloop.counter%} 
                                     
                                  <tr>
                                    <td> {{x}} </td>   
                                  {%endwith%}
                                {%for row in result%}   
                                    {% if "http" in row %}
                                      {% with row=row.strip%}
                                      <td>  <a href= {{row}} id='url_link' target="_blank" >Click to apply</a> </td>
                                      {%endwith%}
                                      {% if row in applied_jobs%}
                                      <td> <button class="btn btn-info" id={{row}} value ="save_item"  name= "save_item" type="button" onclick= "apply(id)" disabled>Already Applied</button> </td>

                                      {%endif%}
                                    {%else %}   
                                       <td>{{ row }}</td>
                                       
                                    {%endif%}
                                   
                                   
                              
                              {% endfor %}
                          
                           <td> <input type="checkbox" class="checker" name="rating"   value="1"><i></i> </td>
                           
                         
                           {%endfor%}  
                         </tr>
                   
                     </table>
              
                </div>
            </div>
        </div>
    </div>
</section>    

  <script>
    // Places API
    // <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=places">

    function initMap() {
      var input = document.getElementById('pac-input');
      var autocomplete = new google.maps.places.Autocomplete(input);
    }

  </script>


  <script
 
  src="https://maps.googleapis.com/maps/api/js?key={{API_KEY}}a0ZG6s&libraries=places&callback=initMap"
  async defer>
</script>


  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'vendor/jquery/jquery.min.js'%} "></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js'%}"></script>

